<br>
<div class="row">
  <div class="jumbotron text-center confirm-btn" style="overflow:auto">
    <span style="font-size:45px;">
      <span style="font-family:'Ubuntu', sans-serif;">
        <span style="color:#ffc842;">
          <strong>CODEA</strong></span><span style="color:#2b2b2b;">Talks</span><span style="color:#ffc842;">
        </span>
      </span>
    </span>
    <h2>Muchas gracias por tu interes en la plática:</h2>

    <div class="row">
      <h1>La Cultura StartUp y la Tecnología.</h1>
      <h4>Jun 27, 2017, 7:00pm</h4>
      <br class="clear"></br>
      <div class="col-md-6">
        <h3>AndrésMartínez | TalentManager | Bitso</h3>
        <br>
        <p>Mañana nos dará su visión sobre esta cultura de empresas emergentes, el talento que la rodea y sus diferentes enfoques en la tecnología y la innovación para sobrevivir y además, ser exitosas.</p>
        <br><br>
        <p style="font-size: 14px;">Actualmente, Andrés se desempeña como Director de Recursos Humanos en Bitso, plataforma digital para automatizar y llevar a cabo operaciones financieras entre diferentes monedas, un nuevo mundo financiero global, a través de la tecnología.
        <br> A la par es fundador, socio mayoritario y director en ConDuckting, consultoría en desarrollo humano, para generar equipos de alto impacto comprometidos con la misión y visión de la empresa.
        <br> Ha sido parte fundamental de la cultura emprendedora en México como speaker motivacional, como consultor y como mentor, gestionando la formación del talento mexicano para alcanzar su máximo potencial, en todos los niveles, desde los más junior hasta los más experimentados.</p>
      </div>
      <div class="col-md-6">
        <div class="thumbnail vcenter">
          <br><br>
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAmlAAAAJGI5ODM5OWVmLWE3MDMtNGVmYy04NjVjLWExZTUzMzFmMDIwNw.jpg" alt="Andrés Martínez">
          <br><br>
        </div>
      </div>
      <br class="clear"></br>
    </div>

    <% if params[:zoho_id] %>
      <p>Da click en el siguiente botón para validar tu asistencia</p>
      <br><br>
      <%= link_to 'Confirmar Asistencia', codeatalks_confirm_path(data: params), class: 'btn btn-lg btn-success', remote: true %>
    <% else %>
      <br><br>
      <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 text-left">
        <%= simple_form_for :data, url: codeatalks_confirm_path(data: params), method: :get, remote: true, :defaults => {:required => false} do |f| %>
          <%= f.input :name, as: :string %>
          <%= f.input :email, as: :string %>
          <%= f.input :phone, as: :string %>
          <%= f.hidden_field :title, value: params[:title] %>
          <%= f.hidden_field :date, value: params[:date] %>
          <%= f.hidden_field :utm_source, value: params[:utm_source] %>
          <%= f.hidden_field :utm_medium, value: params[:utm_medium] %>
          <%= f.hidden_field :utm_campaign, value: params[:utm_campaign] %>
          <div class="text-center">
            <%= f.submit "Confirmar Asistencia", class: 'btn btn-lg btn-success'  %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center" id="post-confirmation" style="display: none">
      <h1>¡Gracias!</h1>
      <br>
      <h4>Te esperamos en la siguiente fecha y dirección:</h4>
      <h3><%= params[:date] %></h3>
      <h4>Avenida Sonora 84A, Roma Norte, CDMX</h4>
      <div id="post-landing"></div>
      <iframe id="gmap" width="100%" height="400px" frameborder="1" style="border:1" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBRlHzqlb0y3w4V4DKlvGkqRmvunduc6ZE&q=CodeaCamp" allowfullscreen></iframe>
  </div>
</div>


<br><br>









